<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Album Tracker</h1>
  <p class="lead">
    <span ng-show="currentUser">Welcome back {{ currentUser.name }}!</span>
    This application help you to fill you sticker album, .  <span ng-hide="currentUser"> Login to sta<span>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
